:root {
    --color-primario: #ecf8f9;
    --color-secundario: #068da9;
    --color-terciario: #7e1717;
    --color-contraste: #e55807;
    --font-dosis: 'Dosis', sans-serif;
}

.contenedor-error {
    display: flex;
    background: url(../../../assets/404_notfound.png);
    background-size: cover;
    background-position: -19px -30px; 
    width: 100vw;
    height: 100vh;
}