:root {
    --color-primario: #ecf8f9;
    --color-secundario: #068da9;
    --color-terciario: #7e1717;
    --color-contraste: #e55807;
    --font-dosis: 'Dosis', sans-serif;
}

.contenedor-error {
    display: flex;
    background: url(../../../assets/404_notfound.png);
    background-size: cover;
    background-position: -19px -30px; 
    width: 100vw;
    height: 100vh;
}

.volver {
    width: 4.5rem;
    height: 4.5rem;
    background-color: #e55807;
    margin: 3rem 0 0 13rem;
    border-radius: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.volver:hover {
    transition: .2s;
    scale: 1.1;
    cursor: pointer;
}



.volver img {
    margin-right: .2rem;
    width: 80%;
    height: auto;
}

