<div class="body">
    <header>
        <div class="logo">
            <img src="../../../assets/logo_basico_blanco.png" alt="">
            <h1>Cliente: </h1>
            <h2 >{{cliente.nombre}}</h2>
        </div>
        
        <nav class="navegacion-principal">
            <ul class="menu-principal">  
                <a [routerLink]="['/landing']"><li class="inicio-sesion">Cerrar Sesión</li></a>
            </ul>
        </nav>
        
    </header>


    <section class="datos-dueno-imagen" id="datos-dueno">

            <div class="datos-dueno">
                <h1 class="titulo">Info del Dueño</h1>
                <table class="tabla-info">
                    <tr>
                        <td class="titulo-tabla borer-radius1">Cedula</td>
                        <td class="contenido-tabla borer-radius2">{{cliente.cedula}}</td>
                    </tr>
                    <tr>
                        <td class="titulo-tabla">Nombre</td>
                        <td  class="contenido-tabla">{{cliente.nombre}}</td>
                    </tr>
                    <tr>
                        <td class="titulo-tabla">Correo</td>
                        <td class="contenido-tabla">{{cliente.correo}}</td>
                    </tr>
                    <tr>
                        <td class="titulo-tabla borer-radius4">Celular</td>
                        <td class="contenido-tabla borer-radius3">{{cliente.celular}}</td>
                    </tr>
                </table>
            </div>

            <div class="datos-imagen">
                <img class="imagen-dueno" src="https://st.depositphotos.com/1518767/4291/i/600/depositphotos_42917347-stock-photo-happy-family-sitting-on-couch.jpg" alt="">
            </div>
    </section>

    <!-- Sección para mostrar las mascotas -->
    <section class="tus-mascotas" id="mascotas">
        <h1 class="titulo2">Tus Mascotas</h1>
        <table>
            <tr>
                <th class="titulo-tabla borer-radius1">Nombre</th>
                <th class="titulo-tabla">Raza</th>
                <th class="titulo-tabla borer-radius2">Información</th>
            </tr>
            <!-- Iterar sobre las mascotas del dueño y mostrar sus detalles -->
            <tr *ngFor="let mascota of mascotas"
                th:class="${iterStat.odd} ? 'odd-row' : 'even-row'" >
                <td class="contenido-tabla">{{mascota.nombre}}</td>
                <td class="contenido-tabla">{{mascota.raza}}</td>

                <td class="boton-tabla">
                    <a class="ver-info" [routerLink]="['/mascota/mostrar/', mascota.id]" >Ver</a> 
                </td>
                
            </tr>
        </table>
    </section>


    <footer>
        <div class="datos-negocio">
            <p>
                Numero: +57 000 000 0000<br>
                Email: consultor@dogtor.com<br>
                Direccion: Calle 1 # 1-1<br>
                Horario de atenciòn: 9:00 - 18:00
            </p>
        </div>
        
        <div class="derechos">
            © 2024 DOGTOR. Todos los derechos reservados.
        </div>

        <div class="redes-sociales">
            <img src="../../../assets/facebook.png" alt="facebook">
            <img src="../../../assets/instagram.png" alt="instagram">
            <img src="../../../assets/whatsapp.png" alt="whatsapp">
        </div>
        
    </footer>
</div>
    
    
