<section class="body">
    <div class="contenedor-login">
        <div class="logo">
            <img src="../../../assets/logo_basico.png" alt="oddie-blanco">
        </div>
        <form  method="post" >
            <h1>Iniciar Sesión</h1>
            <p>Trabajador</p>
            <label for="Usuario">Usuario</label>
            <br>
            <input type="text" name="usuario" id="usuario" placeholder="Ingrese su usuario" required [(ngModel)]="formUser.username">
            <br>

            <label class="contrasena" for="Usuario">Contraseña</label>
            <br>
            <input type="password" name="password" id="password" placeholder="Ingrese su contraseña" required [(ngModel)]="formUser.password">
            <br>
            
            <input type="submit" id="btnIngresar" value="Ingresar" (click)="iniciarSesion()" class="boton">

            <a href="http://localhost:4200/iniciarSesion" class="ingreso-trabajador">
                <p>Ingresar como Cliente</p>
            </a>
            <div></div>
        </form>
    </div>
    
</section>