<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <title>Actualizar Dueno</title>
</head>
<body>
    <img class="fondo-imagen" src="../../../assets/fondoActualizarDueno.jpg" alt="Fondo">
    <div class="formulario-container">
        <div class="contenedor-formulario">
            <div class="logo-container">
                <img src="../../../assets/logo_basico.png" alt="Logo">
            </div>
            <h1>Editar Cliente</h1>

                <form class="formulario" method="post"> 

                    <label for="cedula">Cedula</label>
                    <input type="text" name="cedula" id="cedula" [(ngModel)]="formCliente.cedula">

                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" [(ngModel)]="formCliente.nombre">

                    <label for="correo">Correo</label>
                    <input type="email" name="correo" id="correo" [(ngModel)]="formCliente.correo">

                    <label for="celular">Celular</label>
                    <input type="number" name="celular" id="celular" [(ngModel)]="formCliente.celular">

                    <button type="submit" (click)="updateCliente()" class="boton">Actualizar</button>

                </form>
        </div>
    </div>
</body>
</html>
