:root {
    --color-primario: #ecf8f9;
    --color-secundario: #068da9;
    --color-terciario: #7e1717;
    --color-contraste: #e55807;
    --font-dosis: 'Dosis', sans-serif;
}

.body {
    box-sizing: border-box;
    background-color: var(--color-primario);
    font-family: var(--font-dosis);
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: #ffffff;
    padding-top: 4.5rem;
    margin: 0;
    overflow: hidden;
}

.titulo-mascotas {
    width: 90%;
    margin: 1rem 5% .5rem 5%;
    padding: .5rem;
    background-color: #035A6C;
    border-radius: .7rem;
}

a.activo {
    text-decoration: none; /* Eliminar cualquier subrayado por defecto */
}

a.activo li {
    position: relative; /* Necesario para usar ::after */
}

a.activo li::after,
.menu-principal li:hover::after {
    content: "";
    display: block;
    width: 100%; /* Puedes ajustar el ancho según tus necesidades */
    height: 4px; /* Ajusta el grosor de la línea */
    background-color: #e55807; /* Color de la línea */
    position: absolute;
    bottom: 0; /* Poner la línea en la parte inferior del elemento */
    left: 0;
    border-radius: .2rem;
    transition: all 0.3s ease-in-out; /* Transición suave */
}

a:not(.activo) li::after {
    content: none; /* Elimina el subrayado de las opciones no activas */
}

.menu-principal li {
    position: relative;
    margin: 0 1rem;
    padding: .4rem .7rem;
    text-decoration: none;
    color: white;
    font-size: 23px;
    cursor: pointer;
    transition: .2s;
}

.menu-principal li:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color:#9EF0F7;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: .2rem;
    transition: .2s;
}

.titulo-todas-las-mascotas {
    display: flex;
    align-items: center;
    color: white;
    width: 93%;
    margin-left: 1rem;
    justify-content: space-around;
}

.titulo-todas-las-mascotas .titulo {
    width: 70%;
    margin-right: 3rem;
}

.mas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30rem;
    background-color: white;
    border-radius: 70%;
    transition: .2s;
}

.mas:hover {
    transform: scale(1.2);
    transition: .2s;
}

.titulo-mascotas img {
    width: 3rem;
    height: 3rem;
}

a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.borer-radius4 {
    border-radius: 0 0 0 .6rem;
}

.tabla {
    width: 90%;
    margin: .5rem 5% 2rem 5%;
    border-radius: .1rem;
    overflow: hidden;
    background-color: #035A6C;
}

thead {
    background-color: #9EF0F7;
    color: black;
    padding: 1rem;
}

th {
    padding: 1.1rem;
    font-size: 20px;
}

td {
    padding: 1rem;
    font-size: 20px;
    background-color: #D5FCFF;
    text-transform: capitalize;
    border-bottom: #18a3be 1px solid;
}

.estado-activo::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    margin-right: 5px;
}

.estado-inactivo::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    margin-right: 5px;
}


.contenedor-botones {
    display: flex;
    justify-content: space-between;
    margin-right: 1.6rem;
    color: #D5FCFF;
    height: 26px;
}

.contenedor-boton,
.contenedor-boton2,
.contenedor-boton3,
.contenedor-boton4 {
    display: flex; /* Utilizar flexbox para organizar las imágenes */
    width: 50px;
    height: 50px;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.boton-borrar {
    width: 25px;
    height: 25px;
    position: absolute;
    margin: 0 auto; /* Center image horizontally and vertically */
}

#btnCrearTratamiento {
    width: 25px;
    height: 25px;
    position: absolute;
    margin: 0 auto;
}

.boton-borrar:hover {
    opacity: 0;
    cursor: pointer;
    transition: .2s;
}

header {
    background-color: #04bcd6;
    position: fixed;
    width: 100%;
    top: 0;
    margin-left: 0;
    padding-bottom: .4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    margin: 0 .3rem 0 0;
    padding: 0;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-transform: capitalize;
}

h1 span {
    color: #146076;
}

.logo h2 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 30px;
    color: #146076;
}

.logo img {
    height: 4rem;
    margin-left: 3.5rem;
}

nav {
    display: flex; /* para que los elementos se alineen en lineas */
    justify-content: space-between; /* para que los elementos se alineen en el espacio entre ellos */
    padding: 0;
    margin-right: 3rem;
}

.menu-principal {
    list-style: none; /* para quitar los puntos */
    padding: .8rem;
    display: flex;
    justify-content: right; /* para que los elementos se alineen en el espacio entre ellos */
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.menu-principal a {
    text-decoration: none;
}

.menu-principal ul {
    margin-top: 1rem;
}

.menu-principal li {
    margin: 0 1rem;
    border-radius: .7rem;
    padding: .4rem .7rem;
    text-decoration: none;
    color: white;
    font-size: 23px;
    position: relative; /* Necesario para el pseudo-elemento ::after */
    transition: .2s;
}

.indice-secciones {
    background-color: var(--color-secundario);
    width: 100%;
    margin-top: 0;
    padding: 0;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.search-bar {
    border: none;
    width: 45%;
    border-radius: 2rem;
    padding: .4rem;
}

/* Toggle */

.switchBtn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.5rem;
    height: 2.2rem;
}

.switchBtn input {
    display: none;
}

.slide {
    position: absolute;
    content: "";
    cursor: pointer;
    top: 0;
    left: 10px;
    right: 0;
    bottom: 0;
    background-color: #035A6C;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 1.2rem;
    color: #fff;
}

.slide:before {
    position: absolute;
    content: "";
    cursor: pointer;
    height: 26px;
    width: 26px;
    left: 78px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slide {
    background-color: #e55807;
    padding-left: 34px;
}

input:checked + .slide:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(50px);
    transform: translateX(25px);
    left: -20px;
}

.slide.round {
    display: flex;
    align-items: center;
    border-radius: 3rem;
}

.slide.round:before {
    border-radius: 3rem;
}
