<div class="body">
    <header>
        <div class="logo">
            <img src="../../../assets/logo_basico_blanco.png" alt="">
            <h1>Veterinario: <span>{{veterinario.nombre}}</span></h1>
        </div>

        <nav class="navegacion-principal">
            <ul class="menu-principal">  

                

                <!-- <label class="switchBtn" (click)="toggleSlide($event)" id="btnIrCliente">
                    <input class="punto" type="checkbox">
                    <div class="slide round">{{ toggleText }}</div>
                </label> -->




                <a class="activo" [routerLink]="['/mascota/all']"><li>Mascotas</li></a>
                <a [routerLink]="['/cliente/all']"><li>Clientes</li></a>
                <a [routerLink]="['/veterinario/mostrar', veterinario.id]"><li>Perfil</li></a>
                
                <a href="http://localhost:4200"><li class="inicio-sesion">Cerrar Sesión</li></a>
            </ul>
        </nav>
    </header>

    <div class="titulo-mascotas">
        <div class="titulo-todas-las-mascotas">
            <h1 class="titulo">Todas las Mascotas</h1>

            <input class="search-bar" id="searchBar" type="text" [(ngModel)]="searchTerm" placeholder="Buscar Por Nombre..." (input)="buscarMascotas()">

            <a type="button" class="mas" id="btnCrearMascota" [routerLink]="['/mascota/crear']"><img src="../../../assets/mas.png" alt=""></a>
            
        </div>
    </div>
    
    <div>
        <table class="tabla">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Raza</th>
                    <th>Edad</th>
                    <th>Peso</th>
                    <th>Enfermedad</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let mascota of listaMascotas" id="mascota">
                    <td>{{mascota.nombre}}</td>
                    <td>{{mascota.raza}}</td>
                    <td>{{mascota.edad}}</td>
                    <td>{{mascota.peso}}</td>
                    <td>{{mascota.enfermedad}}</td>
                    <td>
                        <span [ngClass]="{'estado-activo': mascota.estado === 'activo', 'estado-inactivo': mascota.estado === 'inactivo'}"></span>
                        {{mascota.estado}}
                    </td>
                    
                    
                    <td class="td-botones">
                        <div class="contenedor-botones">

                            <div contenedor-boton3>
                                
                                <a [routerLink]="['/mascota/mostrar', mascota.id]">
                                    <img class="boton-borrar" src="../../../assets/ver_naranja.png" alt="">
                                    <img class="boton-borrar" src="../../../assets/ver.png" alt="">
                                </a>
                                
                                <!--
                                Esto sirve para pruebas de sistema, si se desea hacer, descomentar esto y comentar lo de arriba
                                <a type="button" class="boton-borrar" id="btnDetallesMascota" [routerLink]="['/mascota/mostrar', mascota.id]"><img src="../../../assets/ver.png"  alt=""></a>
                                -->
                            </div>

                            <div contenedor-boton4>
                                <a type="button" [routerLink]="['/tratamiento/crear', mascota.id]" id="btnCrearTratamiento">
                                    <img class="boton-borrar" src="../../../assets/tratamiento_verde.png" alt="">
                                    <img class="boton-borrar" src="../../../assets/tratamiento.png" alt="">
                                </a>                       
                                <!--
                                Esto sirve para pruebas de sistema, si se desea hacer, descomentar esto y comentar lo de arriba
                                <a type="button" class="boton-borrar" id="btnCrearTratamiento" [routerLink]="['/tratamiento/crear', mascota.id]"><img src="../../../assets/tratamiento.png"  alt=""></a>
                                -->
                            </div>
                            
                            <div contenedor-boton2>
                                <a [routerLink]="['/mascota/actualizar', mascota.id]" >
                                    <img class="boton-borrar" src="../../../assets/editar_azul.png" alt="">
                                    <img class="boton-borrar" src="../../../assets/editar.png" alt="">
                                </a>
                            </div>
    
                            <div contenedor-boton>
                                <a (click)="inactivarMascota(mascota)">
                                    <img class="boton-borrar" src="../../../assets/borrar_rojo.png" alt="">
                                    <img class="boton-borrar" src="../../../assets/borrar.png" alt="">
                                </a>
                            </div>
                        </div>
                    
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>

    
