<div class="body">

    <img class="fondo-imagen" src="../../../assets/nuevoFondoFormulario.jpg" alt="Fondo">

    <div class="formulario-container">
        <div class="contenedor-formulario">
            <div class="logo-container">
                <img src="../../../assets/logo_basico.png" alt="Logo">
            </div>

            <h1>Actualizar Veterinario</h1>

            <form action="#" method="post" id="nuevoVeterinarioForm">
                <div class="formulario">
                    <div class="izquierda">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" placeholder="Ingrese el nombre del veterinario" required [(ngModel)]=formVeterinario.nombre>
    
                        <label for="usuario">Usuario:</label>
                        <input type="text" id="cedula" name="usuario" placeholder="Ingrese la cédula del veterinario" required [(ngModel)]=formVeterinario.usuario>
                        
                        
                        <label for="especialidad">Especialidad:</label>
                        <input type="text" id="especialidad" name="especialidad" placeholder="Ingrese la especialidad" required [(ngModel)]=formVeterinario.especialidad>
                        
                        
                          
                        
                       
                    </div>
    
                    <div class="derecha">
                        <label for="foto">Foto (URL):</label>
                        <input  id="foto" name="foto" placeholder="Ingrese la URL de la foto del veterinario" required [(ngModel)]=formVeterinario.foto>
    
                        <label for="contrasena">Contrasena:</label>
                        <input type="password" id="contrasena" name="contrasena" placeholder="Ingrese la contrasena del veterinario" required [(ngModel)]=formVeterinario.contrasena>
    
                        <label for="estado">Estado:</label>
                        <select id="estado" name="estado" required [(ngModel)]=formVeterinario.estado>
                            <option value="activo">Activo</option>
                            <option value="inactivo">Inactivo</option>
                        </select>
                    </div>

                </div>
                
                <button type="submit" (click)="actualizarVeterinario()" [disabled]="!camposLlenos()">Agregar Veterinario</button>
            </form>
        </div>
    </div>

</div>