:root {
    --color-primario: #ecf8f9;
    --color-secundario: #068da9;
    --color-terciario: #7e1717;
    --color-contraste: #fe9739;
    --font-dosis: 'Dosis', sans-serif;
}

app-landing {
    box-sizing: border-box;
    background-color: var(--color-primario);
    font-family: var(--font-dosis);
    margin: 4rem 0rem 0rem 0rem;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
