:root {
    --color-primario: #ecf8f9;
    --color-secundario: #068da9;
    --color-terciario: #7e1717;
    --color-contraste: #fe9739;
    --font-dosis: 'Dosis', sans-serif;
}

.router-outlet {
    overflow: hidden;
}


