<section class="body">
    <div class="contenedor-formulario">
        <div class="logo">
            <img src="../../../assets/logo_basico.png" alt="oddie-blanco">
        </div>
        <h1>Nuevo Tratamiento Para:</h1>
        <h3>{{mascota.nombre}}</h3>
        <form>

            <div class="contenedor-inputs">
                <div class="primera-columna">
                    <label for="foto">Droga:</label>
                    <select name="drogaNombre" id="" [(ngModel)]="drogaSelect" >
                        <option *ngFor="let droga of drogas" [value]="droga.nombre">{{ droga.nombre }}</option>
                    </select>
                
                </div>

                <div class="segunda-columna">
                    <label for="fecha">Fecha:</label>
                    <input type="date" id="fecha" name="fecha" [(ngModel)]="fecha"  required>

                </div>
                
            </div>
            <button  type="submit" (click)="addTratamientoForm()"  >AGREGAR TRATAMIENTO</button>

        </form>
    </div>
</section>
