/* You can add global styles to this file, and also import other style files */
:root {
    --color-primario: #ecf8f9;
    --color-secundario: #068da9;
    --color-terciario: #7e1717;
    --color-contraste: #fe9739;
    --font-dosis: 'Dosis', sans-serif;
}
body {
    background-color: inherit; /* Esta línea anula el color de fondo definido por Angular */
}