<div class="body">
    <header>
        <div class="logo">
            <img src="../../../assets/logo_basico_blanco.png" alt="">
            <h1>Tratamientos</h1>
        </div>

        <nav class="navegacion-principal">
            <ul class="menu-principal">  


                <a href="#datos-dueno"><li>Home</li></a>
                <a href="http://localhost:4200"><li class="inicio-sesion">Cerrar Sesión</li></a>
            </ul>
        </nav>
    </header>


    <section class="contenido">
        
        <div class="izquierda">
            <div class="titulo-tratamiento">
                <h1 class="titulo">Tratamientos X tipo</h1>
            </div>
            <table class="tabla">
                <thead>
                    <tr>
                        <th>Nombre de Droga</th>
                        <th>Unidades Vendidas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>SapoPerro</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="derecha">
            <div class="cantidad">
                <h1>Tratamientos Suministrados en el último mes</h1>
                <h3>25</h3>
            </div>

        </div>
    </section>
    

    <footer>
        <div class="datos-negocio">
            <p>
                Numero: +57 000 000 0000<br>
                Email: consultor@dogtor.com<br>
                Direccion: Calle 1 # 1-1<br>
                Horario de atenciòn: 9:00 - 18:00
            </p>
        </div>
        
        <div class="derechos">
            © 2024 DOGTOR. Todos los derechos reservados.
        </div>

        <div class="redes-sociales">
            <img src="../../../assets/facebook.png" alt="facebook">
            <img src="../../../assets/instagram.png" alt="instagram">
            <img src="../../../assets/whatsapp.png" alt="whatsapp">
        </div>

    
    </footer>
</div>

    
