<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/nuevoPaciente.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
  <script th:if="${cedulaNoExiste}">
    alert("No existe esa cédula");
</script>
  <title>Nuevo Paciente</title>
</head>
<body>

    <img class="fondo-imagen" src="../../../assets/nuevoFondoForms.jpg" alt="Fondo">

    <div class="formulario-container">
        <div class="contenedor-formulario">
            <div class="logo-container">
                <img src="../../../assets/logo_basico.png" alt="Logo">
            </div>

            <h1>Nuevo Paciente</h1>

            <form class="formulario" >

                <div class="contenedor-inputs">
                    <div class="primera-columna">
                        <label for="nombre">Nombre:</label>
                        <input  type="text" id="nombre" name="nombre" placeholder="Ingrese el nombre del paciente" required [(ngModel)]=formMascota.nombre>
    
                        <label for="raza">Raza:</label>
                        <input  type="text" id="raza" name="raza" placeholder="Ingrese la raza del paciente" required [(ngModel)]=formMascota.raza>
    
                        <label for="edad">Edad:</label>
                        <input  type="number" id="edad" name="edad" placeholder="Ingrese la edad del paciente" required inputmode="numeric" [(ngModel)]=formMascota.edad>
    
                        <label for="peso">Peso (KG):</label>
                        <input  type="number" id="peso" name="peso" placeholder="Ingrese el peso del paciente" required inputmode="numeric" [(ngModel)]=formMascota.peso>
                    </div>
    
                    <div class="segunda-columna">
                        <label for="foto">Foto (URL):</label>
                        <input type="url" id="foto" name="foto" placeholder="Ingrese la URL del paciente" required [(ngModel)]=formMascota.foto >
    
                        <label for="enfermedad">Enfermedad</label>
                        <input  type="text" id="enfermedad" name="enfermedad" placeholder="Ingrese la enfermedad del paciente" required [(ngModel)]=formMascota.enfermedad>
    
                        <label for="estado" hidden>Estado</label>
                        <input  type="hidden" name="estado" id="estado" value="Activo" [(ngModel)]=formMascota.estado>
    
                        <label for="cedulaDueno">Cédula del Dueño:</label>
                        <input  type="text" id="cedulaDueno" name="cedulaDueno" placeholder="Ingrese la cédula del dueño" required [(ngModel)]=formMascota.cliente>

                        <button type="submit" (click)="addMascotaForm()">Agregar Paciente</button>
                    </div>
                </div>

                
            </form>
        </div>
    </div>

</body>
</html>
