<section class="body">
    <div class="contenedor-formulario">
        <div class="logo">
            <img src="../../../assets/logo_basico.png" alt="oddie-blanco">
        </div>
        <h1>Nuevo Paciente</h1>
        <form>
            <label for="foto">Foto (URL):</label>
            <input type="url" id="foto" name="foto" placeholder="Ingrese la URL del paciente" required [(ngModel)]=formMascota.foto >

            <div class="contenedor-inputs">
                <div class="primera-columna">
                    <label for="nombre">Nombre:</label>
                    <input  type="text" id="nombre" name="nombre" placeholder="Ingrese el nombre del paciente" required [(ngModel)]=formMascota.nombre>

                    <label for="raza">Raza:</label>
                    <input  type="text" id="raza" name="raza" placeholder="Ingrese la raza del paciente" required [(ngModel)]=formMascota.raza>

                    <label for="edad">Edad:</label>
                    <input  type="number" id="edad" name="edad" placeholder="Ingrese la edad del paciente" required inputmode="numeric" [(ngModel)]=formMascota.edad>
                </div>

                <div class="segunda-columna">
                    <label for="peso">Peso (KG):</label>
                    <input  type="number" id="peso" name="peso" placeholder="Ingrese el peso del paciente" required inputmode="numeric" [(ngModel)]=formMascota.peso>
                    
                    <label for="enfermedad">Enfermedad</label>
                    <input  type="text" id="enfermedad" name="enfermedad" placeholder="Ingrese la enfermedad del paciente" required [(ngModel)]=formMascota.enfermedad>

                    <label for="estado" hidden>Estado</label>
                    <input  type="hidden" name="estado" id="estado" value="activo" [(ngModel)]=formMascota.estado>

                    <label for="cedulaDueno">Cédula del Dueño:</label>
                    <input  type="text" id="cedulaDueno" name="cedulaDueno" placeholder="Ingrese la cédula del dueño" required [(ngModel)]=formClient.cedula>
                </div>
                
            </div>
            <button  type="submit" (click)="addMascotaForm()" [disabled]="!camposLlenos()">AGREGAR PACIENTE</button>

        </form>
    </div>
</section>
