:root {
    --color-primario: #ecf8f9;
    --color-secundario: #068da9;
    --color-terciario: #7e1717;
    --color-contraste: #e55807;
    --font-dosis: 'Dosis', sans-serif;
}

.body {
    box-sizing: border-box;
    font-family: var(--font-dosis);
    margin: 0;
    padding: 0;
    background: url(../../../assets/fondo_login.jpg);
    display: flex;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.contenedor-login {
    display: grid;
    place-items: center;
    background-color: #E9F6FB;
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 1rem;
    text-align: center;
    width: 23rem;
    height: 27rem;
    margin-left: 7rem;
    margin-top: 6rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.logo {
    background-color: #D9D9D9;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.logo img {
    width: 4rem;
    height: auto;
}

h1 {
    font-size: 35px;
    margin: 1rem 1rem .2rem 1rem; 
    font-weight: bold;
}

p {
    font-size: 18px;
    margin: 0;
}

form {
    width: 100%;
}

form label {
    display: block;
    height: .5rem;
    text-align: left;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: .5rem;
}

form input {
    width: 95%;
    padding: .4rem; 
    border: none;
    border-radius: .3rem;
    background-color: #9DEEFF;
}

.boton {
    width: 100%;
    padding: .5rem;
    border: none;
    background-color: var(--color-contraste);
    color: black;
    border-radius: .3rem;
    cursor: pointer;
    margin: 1rem 0 1rem 0;
    text-transform: uppercase;
    font-weight: bold;
    transition: .3s;
}

.boton:hover {
    background-color:#e55807;
    color: white;
    transition: .3s;
    font-weight: bold;
}


.ingreso-trabajador {
    width: fit-content;
    color: rgb(82, 82, 82);
    transition: .2s;
}

.ingreso-trabajador p {
    margin-left: 3.5rem;
    width: 60%;
    text-align: center;
}

.ingreso-trabajador:hover {
    color:#e55807;
    font-weight: bold;
    transition: .2s;
    cursor: pointer;
}