<section class="body">
    <div class="contenedor-login">
        <div class="logo">
            <img src="../../../assets/logo_basico.png" alt="oddie-blanco">
        </div>
        <form  method="post" >
            <h1>Iniciar Sesión</h1>
            <p>Cliente</p>
            <label for="cedula">Cédula</label>
            <br>
            <input type="text" name="cedula" id="cedula" placeholder="Ingrese su cedula" required  [(ngModel)]="formCliente">
            <br>
            
            <input type="submit" (click)="iniciarSesion()" value="Ingresar" class="boton">

            <a [routerLink]="['/iniciarSesionTrabajador']" class="ingreso-trabajador">
                <p>Ingresar como trabajador</p>
            </a>
            <div *ngIf="mensajeError" class="alert alert-danger mt-3">{{ mensajeError }}</div>
        </form>
    </div>
    
</section>