<div class="body">
    <header>
        <div class="logo">
            <img src="../../../assets/logo_basico_blanco.png" alt="">
            <h1>Veterinarios</h1>
        </div>

        <nav class="navegacion-principal">
            <ul class="menu-principal">  

                
                <a href="http://localhost:4200"><li class="inicio-sesion">Cerrar Sesión</li></a>
            </ul>
        </nav>
    </header>

    <div class="titulo-mascotas">
        <div class="titulo-todas-las-mascotas">
            <h1 class="titulo">Todos los Veterinarios</h1>

            <a type="button" class="mas" [routerLink]="['/veterinario/crear']"><img src="../../../assets/mas.png" alt=""></a>
            
        </div>
    </div>
    
    <div>
        <table class="tabla">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Usuario</th>
                    <th>Especialidad</th>
                    <th>Atenciones</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let veterinario of listaVeterinarios" >
                    <td>{{veterinario.nombre}}</td>
                    <td>{{veterinario.usuario}}</td>
                    <td>{{veterinario.especialidad}}</td>
                    <td>{{veterinario.numAtenciones}}</td>
                    <td class="estado">
                        <div [ngClass]="{'activo': veterinario.estado === 'Activo', 'inactivo': veterinario.estado === 'Inactivo'}"></div>
                        {{veterinario.estado}}
                    </td>
                    
                    <td class="td-botones">
                        <div class="contenedor-botones">

                            <div contenedor-boton3>
                                <a [routerLink]="['/veterinario/mostrar', veterinario.id]">
                                    <img class="boton-borrar" src="../../../assets/ver_naranja.png" alt="">
                                    <img class="boton-borrar" src="../../../assets/ver.png" alt="">
                                </a>
                            </div>
                            
                            <div contenedor-boton2>
                                <a [routerLink]="['/veterinario/actualizar', veterinario.id]" >
                                    <img class="boton-borrar" src="../../../assets/editar_azul.png" alt="">
                                    <img class="boton-borrar" src="../../../assets/editar.png" alt="">
                                </a>
                            </div>
    
                            <div contenedor-boton>
                                <a (click)="inactivarVeterinario(veterinario)">
                                    <img class="boton-borrar" src="../../../assets/borrar_rojo.png" alt="">
                                    <img class="boton-borrar" src="../../../assets/borrar.png" alt="">
                                </a>
                            </div>
                        </div>
                    
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

    
